@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Source+Sans+Pro:wght@200&display=swap');
* {
    margin: 0;
    
}
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit' , sans-serif;
}

.block-qr {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    width: 25rem;
    height: 40rem;
    border-radius: 2rem;
    

}

img{
    width: 90%;
    padding: 1.5rem;
    border-radius: 2.5rem;   
    
}

h1{
    font-size: 1.7rem;
    width: 80%;
    padding: 1rem;
    color: hsl(218, 44%, 22%);
    text-align: center;
    
}

p{
    font-size: 1.2rem;
    font-weight: 400;
    width:80%;
    text-align: center;
    color: hsl(220, 15%, 55%);
}



@media (max-width:765px){
    
    h1{   
        font-size: 1.rem;

    }
    p{
        
        font-size: 1.2rem;
    }
}
@media (max-width:375px){
    .block-qr{
        height: 50%;
    }
    h1{
        font-size: 1.4rem;

    }
    p{
        font-size: 1rem;
        padding-bottom: 2.5rem;
    }
}
